.DS_Store
.workbuddy/

# Some directories on my local machine to ignore
llm.c/
llama2.c/
dl_reference/
doc/
reference/

*.dSYM/
**/.DS_Store
**/.vscode/
**/.idea/
**/*.dSYM/

# Binaries
test_csv
test_dataset
test_iris
test_binary
test_gnb
test_dt
test_rf_n_ada
test_ml
test_softmax_benchmark
test_softmax_benchmark_asan
test_idx
test_tensor
test_mlp
test_lenet5
test_lenet5_bin
test_rnn
test_lstm
test_transformer
test_dl_realdata
test_dl_realdata_v2
test_mlp_asan
test_mlp_iris
main
test/test_mlp_framework
test/test_mlp_iris
test/test_transformer
tests/test_tensor_edge_cases
tests/test_tensor_edge_cases_asan
